*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: inherit;
}

html,
body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}
